.list{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e9ecef;
    height: 30px;
}

.num{
    color: black;
    list-style-type: none;
    font-size: 17px;
    width: 30px;
}

.title{
    color: #13a78e;
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
    width: 30px;
    margin-left: 50px;
}

.author{
    color: black;
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 680px;
    width: 180px;
}

.created_at{
    color: black;
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
}

.move{
    color: #13a78e;
    text-decoration: underline;
  }